.menu{
  
    width: 100%;

    height: fit-content;
    padding: 2vw 0 0;
    ul{
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: 0 auto;
        li{
            font-size: 2vw;
            color: #fff;
            font-weight: 700;
        }
    }
}